.avatar{
    padding:2em 0.5em;
    text-align:center;
    
    img{
        width:100px;
        border-radius:50%;
        overflow:hidden;
        box-shadow:0 0 0 4px rgba(255,255,255,0.2);
    }
    
    h2{
        font-weight:normal;
        margin-bottom:0;
        color: black;
        text-transform: capitalize;

    }
}