@import '../styles/variable.scss';

.mainSection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.leftSection{
     @include main-Bg-Color;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo{
        position: absolute;
        top: 0;
        left: 25px;
        h1{
            color: $white_color;
        }
    }
    .signUpButton{
        position: absolute;
        bottom: 100px;
        a{
            text-decoration: none;
            button{
                background-color: $link_color;
                color: $white_color;
    
            }   
        }
    }
}
.rightSection{
     width: calc(100% - 400px);
     display: flex;
     align-items: center;
     flex-direction:column;
     color:#11bee7;
    img{
      margin: 0 auto;
      height: 445px;
    }
    p{
        font-size: 2.5em;
        font-weight: 500;
    }
}

@include max-width {
    .mainSection {
       display: flex;
       flex-direction: column;
    }
    
    .leftSection{
        width: 100%;
        flex-direction: column;;
        .logo{
            position: relative;
        }
        .signUpButton{
            position: relative;
            bottom: 50px;
        }
    }
    .rightSection{
        width: 100%;
        text-align: center;;
        img{
            width: 340px;
        }
    }
 } 

 