@import '../styles/variable.scss';

.headerComponent{
    @include main-Bg-Color;
    color: #fff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $primary_color;
    margin-bottom: 10px;
    div:last-child{
        margin-left: auto;
        display: flex;
        align-items: center;
        padding-right: 10px;
        text-transform: capitalize;
        cursor: pointer;
        span{
            margin-left: 5px;
        }
    }
    .tittleSection{
        padding-left: 10px;
        height: inherit;
        display: flex;
        align-items: center;
    }
    .MuiIcon-root{
        font-size: 2em  ;
    }
    .MuiAvatar-root{
        padding: 0px;
    } 
    p{
        display: none;
    }
}

@include max-width {
        p{
        font-size: 2em !important;
        display: flex !important;
        align-items: center;
        cursor: pointer;
    }
}