@import './../styles/variable.scss';

.AuthComponentClass{
    background: white;
    width: 350px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        width: calc(100% - 50px);
        div{
            margin-top: 10px;
        }
        button{
            margin-top: 25px;
            background: linear-gradient(135deg, $primary_color, $secondary_gradient);-color: $primary_color;
            color: $white_color;        
            &:hover{
                color: $primary_color;
                background-color: $white_color;        
            }
        }
    }
}

@include max-width {
    .AuthComponentClass{
        height: 400px;
    }
}