@import './../../styles/variable.scss';

.addnewContainer {
    .textBoxSection {
        padding: 0px 10px 0 10px;
        form {
            display: flex;
            justify-content: flex-start;
            margin-left: 1em;
            .MuiTextFieldRoot {
                width: 80%;
            }
            button {
                margin-left: 10px;
                height: 35px;
                align-self: flex-end;
            }
            .MuiButtonBaseRootButton {
                margin-top: 25px;
                background-color: $link_color;
                color: $white_color;
            }
            button:hover {
                color: $link_color;
                background-color: $white_color;
            }
        }
    }
    .taskList {
        width: 80%;
        ul {
            margin: 0px;
            padding: 0;
            margin-left: 12px;
            margin-top: 10px;
        }
        li {
            list-style: none;
            text-align: left;
            padding: 10px;
        }
        li {
            text-align: center;
            width: 600px;
            border: 1px solid lightgray;
            min-width: 400px;
            background: white;
            margin: 1em;
        }
    }
}

.addnewListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .materialIcons {
        color: red;
        cursor: pointer;
    }
    .strike {
        text-decoration: line-through;
    }
    .timeAgo {
        margin-left: auto;
        color: gray;
        b {
            font-weight: 500;
        }
    }
    .star {
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
        color: gray;
        &.important {
            color: #f4c94b;
        }
    }
}
